<script>

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map-index'), {
      zoom: 14,
      center: {lat: <%= @places.first.latitude %>, lng: <%= @places.first.longitude %>}
    });

    setMarkers(map);

  }

  function setMarkers(map) {

    var bathrooms = [];
    var bounds = new google.maps.LatLngBounds();
    var infowindow = new google.maps.InfoWindow();

    <% @places.each do |place| %>
      <% if place.latitude.present? && place.longitude.present? %>
        bathrooms.push(["<%= place.name %>", <%= place.latitude %>, <%= place.longitude %>, "<%= place_path(place) %>"]);
      <% end %>  
    <% end %>

    for (var i = 0; i < bathrooms.length; i++) {
      var bathroom = bathrooms[i];
      var marker = new google.maps.Marker({
        position: {lat: bathroom[1], lng: bathroom[2]},
        url: bathroom[3],
        map: map,
        title: bathroom[0]
      });

        //extend the bounds to include each marker's position
      bounds.extend(marker.position);

      google.maps.event.addListener(marker, 'click', function() {
          window.location.href = this.url;
      });

    } 

    //now fit the map to the newly inclusive bounds
    map.fitBounds(bounds);
   

  } 

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBJYUnD1nSO6De8I4q1UaUGqMQs8tzUFs&callback=initMap">
</script>

<div id="map-index"></div>


<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="row">
      <div class="col-12">
        <span class="float-left"><h1><%= link_to place.name, place_path(place) %></h1></span>
        <span class="float-right"><i><%= place.address %></i><br /><br /></span>
      </div>
    </div>
    <p><%= place.description %></p>
    <%# if place.user.present? %>
      <!--<small><%# place.user.email %></small>-->
    <%# end %>
    <div class="row">
      <div class="col-12">
        <div class="tag">
          <% if place.accessible? %>
            <span class="float-left"><i class="fa fa-check-square aria-hidden="true""></i>&nbsp;Accessible&nbsp;&nbsp;</span>
          <% end %>
          <% if place.single_use? %>
            <span class="float-left"><i class="fa fa-check-square aria-hidden="true""></i>&nbsp;Single Use&nbsp;&nbsp;</span>
          <% end %>
          <% if place.gender_neutral? %>
            <span class="float-left"><i class="fa fa-check-square aria-hidden="true""></i>&nbsp;Gender Neutral&nbsp;&nbsp;</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <% if place.photos.present? %>
        <div class="col-12 col-sm-6 col-md-4">
          <figure>
            <%= image_tag place.photos.first.picture.thumb, class: 'img-fluid' %>
          </figure>
        </div>
      <% end %>
      <% if place.comments.present? %>
        <div class="col-12 col-sm-6 col-md-8">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> - 
            <% end %>
            <%= place.comments.last.message %>
            <small><%# place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>
    </div>

  </div>

<% end %>

<div class="pagination row">
  <%= paginate @places %>
</div>