<div class="booyah-box col-10 offset-1">
  <h1>Add your new bathroom!</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, label: "Bathroom Location" %>
    <%= f.input :address, label: "Address" %>
    <%= f.input :description, label: "Description" %>
    <br />
    Accessible?
    <%= f.check_box :accessible %>
    <br />
    Single Use?
    <%= f.check_box :single_use %>
    <br />
    Gender Neutral?
    <%= f.check_box :gender_neutral %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>

  <% end %>
</div>