<div class="booyah-box col-10 offset-1">
  <h1><%= @place.name %></h1>
  <i><%= @place.address %></i>
  <br /><br />
  <p><%= @place.description %></p>

  <% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBJYUnD1nSO6De8I4q1UaUGqMQs8tzUFs&callback=initMap">
    </script>

    <div id="map"></div>

  <% end %>

  <br />

  <div class="row">
    <div class="col-12">

      <div class="tag float-left">
        <% if @place.accessible? %>
          <span class="float-left"><i class="fa fa-check-square"></i>&nbsp;Accessible&nbsp;&nbsp;</span>
        <% end %>
        <% if @place.single_use? %>
          <span class="float-left"><i class="fa fa-check-square"></i>&nbsp;Single Use&nbsp;&nbsp;</span>
        <% end %>
        <% if @place.gender_neutral? %>
          <span class="float-left"><i class="fa fa-check-square"></i>&nbsp;Gender Neutral&nbsp;&nbsp;</span>
        <% end %>
      </div>

      <div class="float-right">
        <% if current_user && current_user == @place.user %>
          <%= link_to 'Delete', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delete this?'}, class: 'btn btn-danger float-right show-button' %>
          <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary float-right show-button' %>
        <% end %>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <% f.input :message %>
          <% f.input :rating %>
          <% f.submit "Add a Comment", class: 'btn btn-primary float-right show-button' %>
        <% end %>
      </div>

    </div>
  </div>
</div>

